@import 'main';
.o-header-soi {
	display: flex;
	padding: 1rem;
	justify-content: space-between;
	align-items: center;

	@include from($laptop) {
		&__logo {
			width: 200px;
		}

		&__menu {
			display: none;
		}
	}
}
