<div class="footer">
	<div class="footer__container">
		<m-navbar
			[navBar]="navBarAch"
			[styleClass]="'m-navbar-secondary'"
			[titleNavBar]="'ach colombia'"
		></m-navbar>
		<m-navbar
			[navBar]="navBarCompany"
			[styleClass]="'m-navbar-secondary'"
			[titleNavBar]="'compañia'"
		></m-navbar>
		<m-navbar
			[navBar]="navBarProducts"
			[styleClass]="'m-navbar-secondary'"
			[titleNavBar]="'productos y servicios'"
		></m-navbar>
	</div>
	<hr class="footer__hr" />
	<div class="footer__copyright">
		ACH Colombia. Todos los derechos reservados 2023 | Somos vigilados por la
		Superintendencia Financiera de Colombia
	</div>
</div>
