/* reset.css */

/* Elimina el margen, padding y border en todos los elementos */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Hereda los estilos de borde y tipografía */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* Asegura que todos los elementos de bloque tengan el mismo flujo */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/* Asegura que las listas no tengan estilo ni margen */
ol,
ul {
	list-style: none;
}

/* Asegura que las citas estén formateadas correctamente */
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

/* Configura las tablas sin bordes y espacio de celdas */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Asegura que las imágenes se comporten correctamente en contenedores flexibles */
img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* Remueve subrayado y colores predeterminados en enlaces */
a {
	text-decoration: none;
	color: inherit;
}

/* Configura el tamaño y fuente predeterminada */
body {
	line-height: 1;
	background-color: #fff;
	color: #000;
}

/* Desactiva el estilo de botones y formularios */
button,
input,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	background: none;
	border: none;
	padding: 0;
}
