/* Colores */
$background-default: hsla(207, 93%, 27%, 1);
$background-blue-light: hsla(207, 48%, 67%, 1);
$background-green: hsla(86, 54%, 51%, 1);
$background-green-light: hsla(86, 54%, 76%, 1);
$background-info: #e6eefe;
$background-white: #ffffff;
$background-gray: #f4f4f4;
$background-chat-user: #dfdfdf;
$text-dark: #0d1a26;
$text-white: #ffffff;
$text-default: #054b85;

/* Breakpoints */
$mobile-small: 320px;
$mobile-medium: 375px;
$mobile-large: 425px; /*-------- Mobile devices*/
$tablet: 768px; /*-------- Tablet devices*/
$laptop: 1024px; /*-------- Desktop devices*/
$laptop-large: 1440px;
