@import 'main';
.t-home {
	width: 100%;
	height: 100%;
	background-image: url('/images/banner-desktop.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: $text-white;
	z-index: -2;
	padding-bottom: 1rem;
	padding-top: 1rem;

	&__container {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		justify-items: center;
	}

	&__image-container {
		display: grid;
		grid-template-columns: 50% 45%;
		align-items: center;
	}

	&__container-card-ia {
		display: grid;
		align-content: center;
		gap: 2rem;
		padding-left: 1rem;
	}

	&__info {
		display: grid;
		gap: 1rem;
		font-size: 16px;
		line-height: 1.5rem;
		padding: 1.5rem;
	}

	&__image {
		position: relative;
		display: inline-block;
		z-index: 0;
		width: 200px;
		height: auto;
	}

	&__circle {
		position: absolute;
		top: 55%;
		left: 30%;
		width: 203px;
		height: 203px;
		background-color: $background-default;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}
}

.t-home {
	@include from($mobile-large) {
		&__info {
			display: grid;
			gap: 3rem;
			font-size: 23px;
			line-height: 1.5rem;
			width: 400px;
		}

		&__image-container {
			grid-template-columns: 1fr 1fr;
		}

		&__image {
			position: relative;
			display: inline-block;
			z-index: 0;
			width: 300px;
			height: auto;
		}

		&__circle {
			position: absolute;
			top: 55%;
			left: 30%;
			width: 303px;
			height: 303px;
			background-color: $background-default;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
		}

		&__container-card-ia {
			grid-template-columns: 300px;
		}
	}
}

.t-home {
	@include from($laptop) {
		@include from($laptop) {
			height: 75vh;
			&__container {
				grid-template-columns: 1fr 1fr;
			}

			&__image {
				width: 600px;
			}

			&__circle {
				top: 55%;
				left: 30%;
				width: 603px;
				height: 603px;
			}

			&__container-card-ia {
				grid-template-columns: 300px;
			}
		}
	}
}
