<div class="t-home">
	@if (showModal) {
		<t-modal (onclose)="closeModal()"></t-modal>
	}
	<div class="t-home__container">
		<div class="t-home__info">
			<h1>SOI Te informa:</h1>
			<p>
				Accede a tus planillas disponibles para pago, soportes y certificados en
				un solo lugar.
			</p>
			<a-button [text]="'Ingresa aquí'"></a-button>
		</div>
		<div class="t-home__image-container">
			<div class="t-home__image">
				<div class="t-home__circle"></div>
				<img src="images/soi-girl-desktop.svg" alt="SOI" />
			</div>
			<div class="t-home__container-card-ia">
				<div (click)="openModal()" (keyup)="openModal()" tabindex="0">
					<m-card-ia
						[src]="'images/amelia.svg'"
						[title]="'Amelia'"
						[description]="'Tu asistente virtual IA'"
						[descriptionMobile]="'Asistente IA'"
						[cssStyle]="'m-card-ia__default'"
						[circleStyle]="'m-card-ia__circle--blue-light'"
					></m-card-ia>
				</div>
				<m-card-ia
					[src]="'images/paco.svg'"
					[title]="'Paco'"
					[cssStyle]="'m-card-ia__green'"
					[circleStyle]="'m-card-ia__circle--green-light'"
					[description]="'Tu asistente virtual'"
					[descriptionMobile]="'Tu asistente'"
				></m-card-ia>
			</div>
		</div>
	</div>
</div>
