<div
	class="modal-overlay"
	(click)="handleClose()"
	(keydown)="handleClose()"
	tabindex="0"
></div>
<div class="modal-content">
	<img class="modal-content__borde" src="/images/borde.svg" alt="" />
	<div class="modal-content__image">
		<div class="modal-content__circle modal-content__circle--green-light"></div>
		<img class="modal-content__default" src="/images/amelia.svg" alt="" />
	</div>
	<button class="modal-content__close" type="button" (click)="handleClose()">
		<img src="/images/close.svg" alt="" />
	</button>
	<div class="modal-content__chat">
		@if (welcome) {
			<div class="modal-content__welcome">
				<div>
					Hola! Soy Amelia,<br />
					tu asistente virtual IA
				</div>
				<p>¿Cómo puedo ayudarte?</p>
				@for (question of defaultQuestion; track $index) {
					<a-custom-button
						[text]="question.prompt"
						(buttonClick)="sendDefaultQuestion(question)"
					></a-custom-button>
				}
			</div>
		}
		<div class="modal-content__question">
			<a-custom-input-text
				(debouncedInput)="handleDebouncedInput($event)"
			></a-custom-input-text>
			<img
				class="modal-content__question-button"
				src="/images/send.svg"
				alt=""
			/>
		</div>
	</div>
</div>
