@import 'main';

.modal-header {
	position: absolute;
	top: 0;
	left: 80%;
	z-index: 1002;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.modal-content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: $background-gray;
	display: grid;
	min-height: 830px;
	max-height: 830px;
	align-content: space-between;
	z-index: 1001;
	max-width: 360px;
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	width: 100%;
	border-radius: 16px;
	color: $text-dark;

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.5rem;
		cursor: pointer;
		background: transparent;

		&:hover {
			background-color: $background-green-light;
		}
	}

	&__borde {
		border-radius: inherit;
	}

	&__image {
		margin: 0 auto;
		position: inherit;
		top: 65px;
		left: 110px;
		display: inline-block;
		z-index: 0;
		width: 100px;
		height: auto;
	}

	&__circle {
		position: absolute;
		top: 53%;
		left: 50%;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;

		&--green-light {
			background-color: $background-green-light;
		}

		&--blue-light {
			background-color: $background-blue-light;
		}
	}

	&__chat {
		position: relative;
		overflow-x: hidden;
		overflow-y: scroll;
		margin-top: 1rem;
		max-height: 560px;
		min-height: 560px;
		margin-left: 0.5rem;
	}

	&__welcome {
		display: grid;
		gap: 1rem;
	}

	&__question {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		margin-left: 1rem;
		margin-bottom: 1rem;
		align-items: center;

		&-button {
			min-width: 50px;
			height: auto;
			cursor: pointer;

			&--disabled {
				opacity: 0.5; /* Reduce la opacidad para que parezca deshabilitado */
				cursor: not-allowed; /* Cambia el cursor para indicar que no se puede hacer clic */
				pointer-events: none; /* Desactiva la capacidad de hacer clic */
			}
		}
	}
}

.modal-content {
	@include from($laptop) {
		top: 54%;
		left: 85%;

		&__close {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0.5rem;
			cursor: pointer;
			background: transparent;

			&:hover {
				background-color: $background-green-light;
			}
		}

		&__image {
			top: 60px;
			left: 128px;
		}

		&__circle {
			width: 110px;
			height: 110px;
		}

		&__chat {
			margin: auto;
		}
	}
}

button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}
